:root {
  /* DEFAULT COLORS */
  --defaultTextColor: #121212;
  --defaultBackgroundColor: #eeeeee;
  --defaultNotationColor: #121212;
  --defaultNotationBackgroundColor: #eeeeee;
  --defaultSuppliedColor: #e69500;
  --defaultSuppliedHighlightedColor: #b37400;
  --defaultUnclearColor: #964036;
  --defaultUnclearHighlightedColor: #bb5044;
  --defaultSicColor: #b30000;
  --defaultSicHighlightedColor: #e60000;
  --defaultCorrColor: #408000;
  --defaultCorrHighlightedColor: #59b300;
  --defaultOrigColor: #993399;
  --defaultOrigHighlightedColor: #bf40bf;
  --defaultRegColor: #3300cc;
  --defaultRegHighlightedColor: #4000ff;
  --defaultAddColor: #00cccc;
  --defaultAddHighlightedColor: #00ffff;
  --defaultDelColor: #8585ad;
  --defaultDelHighlightedColor: #a3a3c2;
  --defaultHighlightColor: #4e8bed;
  --defaultHighlightPulseColor: #0e4bad;
  --defaultHeaderBackgroundColor: white;
  --defaultControlMenuBackgroundColor: lightgray;
  --defaultNavbarBackgroundColor: lightgray;
  --defaultKeyboardShortCutColor: navy;
  --defaultDropdownHeadingColor: lightsteelblue;
  --defaultDropdownBackgroundColor: #edf2f7;
  --defaultValidationStatusBackgroundColor: #edf2f711;
  --defaultDropdownBorderColor: darkgray;
  --defaultOverlayBackgroundColor: cornflowerblue;
  --defaultOverlayTextColor: white;
  --defaultOverlayBorderColor: darkblue;
  --defaultOverlayLinkColor: darkblue;
  --defaultFileStatusColor: green;
  --defaultFileStatusChangedColor: darkorange;
  --defaultFileStatusWarnColor: crimson;
  --defaultSettingsBackgroundColor: #ddd;
  --defaultSettingsBackgroundAlternativeColor: #e4e4e4;
  --defaultSettingsLinkBackgroundColor: #f1f1f1;
  --defaultSettingsLinkHoverColor: #e6e6e6;
  --defaultAnnotationPanelBackgroundColor: #ffffa5;
  --defaultAnnotationPanelLinkBackgroundColor: #ffffdc;
  --defaultAnnotationPanelHoverColor: #fef768;
  --defaultAnnotationPanelTextColor: black;
  --defaultAnnotationPanelDarkBackgroundColor: #aa7c08;
  --defaultNotationInputCaretColor: #f1c40f;

  /* Active color variables */
  --textColor: var(--defaultTextColor);
  --backgroundColor: var(--defaultBackgroundColor);
  --notationColor: var(--defaultTextColor);
  --notationBackgroundColor: var(--defaultBackgroundColor);
  --suppliedColor: var(--defaultSuppliedColor);
  --suppliedHighlightedColor: var(--defaultSuppliedHighlightedColor);
  --unclearColor: var(--defaultUnclearColor);
  --unclearHighlightedColor: var(--defaultUnclearHighlightedColor);
  --sicColor: var(--defaultSicColor);
  --sicHighlightedColor: var(--defaultSicHighlightedColor);
  --corrColor: var(--defaultCorrColor);
  --corrHighlightedColor: var(--defaultCorrHighlightedColor);
  --origColor: var(--defaultOrigColor);
  --origHighlightedColor: var(--defaultOrigHighlightedColor);
  --regColor: var(--defaultRegColor);
  --regHighlightedColor: var(--defaultRegHighlightedColor);
  --addColor: var(--defaultAddColor);
  --addHighlightedColor: var(--defaultAddHighlightedColor);
  --delColor: var(--defaultDelColor);
  --delHighlightedColor: var(--defaultDelHighlightedColor);
  --highlightColor: var(--defaultHighlightColor);
  --highlightPulseColor: var(--defaultHighlightPulseColor);
  --headerBackgroundColor: var(--defaultHeaderBackgroundColor);
  --controlMenuBackgroundColor: var(--defaultControlMenuBackgroundColor);
  --navbarBackgroundColor: var(--defaultNavbarBackgroundColor);
  --keyboardShortCutColor: var(--defaultKeyboardShortCutColor);
  --dropdownHeadingColor: var(--defaultDropdownHeadingColor);
  --dropdownBackgroundColor: var(--defaultDropdownBackgroundColor);
  --validationStatusBackgroundColor: var(--defaultValidationStatusBackgroundColor);
  --dropdownBorderColor: var(--defaultDropdownBorderColor);
  --overlayBackgroundColor: var(--defaultOverlayBackgroundColor);
  --overlayTextColor: var(--defaultOverlayTextColor);
  --overlayBorderColor: var(--defaultOverlayBorderColor);
  --overlayLinkColor: var(--defaultOverlayLinkColor);
  --fileStatusColor: var(--defaultFileStatusColor);
  --fileStatusChangedColor: var(--defaultFileStatusChangedColor);
  --fileStatusWarnColor: var(--defaultFileStatusWarnColor);
  --settingsBackgroundColor: var(--defaultSettingsBackgroundColor);
  --settingsBackgroundAlternativeColor: var(--defaultSettingsBackgroundAlternativeColor);
  --settingsLinkBackgroundColor: var(--defaultSettingsLinkBackgroundColor);
  --settingsLinkHoverColor: var(--defaultSettingsLinkHoverColor);
  --annotationPanelBackgroundColor: var(--defaultAnnotationPanelBackgroundColor);
  --annotationPanelLinkBackgroundColor: var(--defaultAnnotationPanelLinkBackgroundColor);
  --annotationPanelHoverColor: var(--defaultAnnotationPanelHoverColor);
  --annotationPanelTextColor: var(--defaultAnnotationPanelTextColor);
  --notationInputCaretColor: var(--defaultNotationInputCaretColor);
}
