.panelGroup {
  width: 100%;
  height: 100%;
}

.resizeHandle {
  background-color: var(--dropdownBorderColor);
  flex-shrink: 0;
  outline: none;
  transition: background-color 0.15s;
}

.resizeHandle:hover,
.resizeHandle[data-resize-handle-active] {
  background-color: var(--highlightColor);
}

.resizeHandle-horizontal {
  width: 3px;
  cursor: col-resize;
}

.resizeHandle-vertical {
  height: 3px;
  cursor: row-resize;
}
